<section id="about-us">
    <div class="page-header">
        <h1>About Us</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="center-block about-logo" src="modules/core/img/drexpizza.png">
            <div class="about-us-content text-center">
                <h2>DrexPizza</h2>
                <p class="about-us-big-paragraph">
                    Proin volutpat tincidunt sem in condimentum. Quisque id diam
                    nibh. Vestibulum consectetur libero dui, vel auctor nisi
                    vestibulum eu. Phasellus ac nibh velit. Phasellus ultricies
                    tortor a ex condimentum rutrum.
                </p>
                <p>
                    Praesent interdum dapibus ex nec porta. Nam sollicitudin,
                     ipsum eu fermentum iaculis, ligula augue porttitor lorem,
                      nec varius lorem nulla id odio. Praesent consectetur ante
                       vel mi congue, eu viverra risus dapibus. Nullam varius
                        arcu non turpis posuere, quis iaculis ex congue. Vivamus
                         aliquet sollicitudin dignissim. Cras sit amet faucibus
                          est. Ut ornare tortor vitae fringilla sollicitudin.
                           Nullam efficitur ornare ex finibus varius. Aenean
                            at tincidunt magna. In malesuada tincidunt mi, eu
                            fermentum dolor porta non. Sed a venenatis tortor.
                             Nulla molestie sapien sit amet eros commodo sagittis.
                              Nunc consequat diam ipsum, sed lobortis magna cursus
                               eget. Nullam non interdum erat.
                </p>
            </div>
            <h3 class="text-center">Our specialities</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive" src="modules/core/img/about-pizza.jpg" alt="...">
                        <div class="caption">
                            <h3>Pizza</h3>
                            <p>Check our delicious pizza! Only fresh ingredients
                            and self-prepared pizza base. Every piece has it own
                            spirit created by our master chef. If you couldn't find
                            your favourite one, don't worry! Just contact us and sit back
                            while we are preparing your special order.</p>
                            <p>
                                Check our pizza menu!
                            </p>
                            <p>
                                <a href="#!/pizzas" class="btn btn-primary" role="button">I want pizza!</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="modules/core/img/about-side.jpg">
                        <div class="caption">
                            <h3>Sides</h3>
                            <p>Not a big fan of italian delicacy (how is it even possible?!)?
                                You will be delighted with our sides! We offer various types
                                of salads, meat/vegan dish or event some unbeliveble sweetness!
                                Want to order delicious pizza and some of the super salad? We
                                will be pleased to please you!
                            </p>
                            <p>
                                Check our sides menu!
                            </p>
                            <p>
                                <a href="#!/sides" class="btn btn-primary" role="button">I want side!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
