<section id="about-us">
    <div class="page-header">
        <h1>Restaurants</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="center-block img-responsive" src="modules/core/img/restaurant-cover.jpg">
            <div class="about-us-content text-center">
                <h2>Come and feel our unique atmosphere</h2>
                <p class="about-us-big-paragraph">
                    In sollicitudin, nisi ut placerat tincidunt, arcu diam
                    porttitor neque, ut mollis justo metus eu orci.
                    Sed a semper diam. Cras non vulputate erat.
                    Aliquam sed dolor placerat, cursus ligula in, dictum eros.
                    Quisque semper ante in nisi molestie, facilisis finibus
                    massa feugiat. Mauris sagittis odio eu nisl faucibus,
                    a dictum tortor aliquam. Fusce tempus ipsum et justo
                    tincidunt posuere. Vestibulum aliquam elit magna, ac
                    dignissim sapien euismod ut. Curabitur nisl lacus,
                    congue ut ipsum eget, egestas scelerisque felis.
                </p>
                <h3 class="about-header-separator">Get in touch</h3>
                <div class="row contact-box">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="col-md-12 contact-box-icon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <div class="col-md-12">
                            <h3>Email</h3>
                            <p class="alignator">
                                <a href="mailto:someone@example.com?Subject=Hello" target="_top">drexpizza@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="col-md-12 contact-box-icon">
                            <i class="glyphicon glyphicon-earphone"></i>
                        </div>
                        <div class="col-md-12">
                            <h3>Call us</h3>
                            <p class="alignator">
                                (034) 32 32 321
                            </p>
                            <p class="alignator">
                                or
                            </p>
                            <p class="alignator">
                                607 721 321
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="col-md-12 contact-box-icon">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </div>
                        <div class="col-md-12">
                            <h3>Visit us at</h3>
                            <p class="alignator">
                                Jarzynowa 123 </br>
                                42-200 </br>
                                Częstochowa </br>
                                POLAND
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
