.row-separator-sides {
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.sides .price-box {
    color: rgb(85, 85, 85);
    font-size:20px;
}

.sides .price-box:hover {
    text-decoration: none;
}

.side-tile {
    cursor: pointer;
}

.side-tile:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
